  /*
.content{
    font-size: 1rem !important;
    color: black;
  }

  .table{
    width: 100%;
    font-size: 1rem !important;
    color: black;
  }
  */
  
  .btn{
   padding: 0.175rem;
  }
  .mt-5{
   margin-right: 3rem;
  }
  .titulo {
    color: black !important;
    text-align: center !important;
    text-decoration: underline !important;
  }
  .card{
    padding: 1rem;
    margin: 2rem;
    min-width: 20rem;
   }

  .form-group{
    font-size: 1rem !important;
    color: black;
  }
  .row{
    padding-left: 2rem;
}

.footer{
 margin: 0.5rem;
}
.close {
  width: 25px;
  border-radius: 1rem;
  float: right;
 }

.titulo2{ 
  float: left !important;
  color: black;
  text-decoration: underline;
}